

@page
@model IndexModel
@{
    ViewData["Title"] = "Główna";
}

<div class="text-center">
    <form method="post">
        <label asp-for="BuzzFizz"></label><br/>
        <input asp-for="BuzzFizz" /><br />
        <button type="submit" class="btn btn-primary">Zatwierdź</button><br />
        <span asp-validation-for="BuzzFizz" class="text-danger"></span>
    </form>
</div>

