@page
@model zad3.Pages.ListaSzukModel
@{
    ViewData["Title"] = "Baza Szukanych";
    @foreach (var item in Model.BF)
    {
    <p>Nr: @{ Model.a++; }@Model.a Dane: @item.ToString() Data: @item.date</p>
    @if(item.historical==false)
    {
        <form method="post">
            @Html.Hidden("itemId", item.Id)
            <button type="submit" class="btn btn-secondary">Usuń</button><br/>
        </form>
    }
    <br />
        }
    <a class="btn btn-primary" asp-area="" asp-page="/Index">Powrót</a>
}
